<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs")%>
    <title><%=title%></title>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="container mt-3">
      <h3>Welcome to Products Page</h3>
    </div>
    <div id="app" class="container"></div>
    <%- include("../partials/scripts.ejs")%>
  </body>
</html>
